spring:
  application:
    name: cars
  datasource:
    url: jdbc:h2:mem:db;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver

    username: ${DB_USER:sa}
    password: ${DB_PASSWORD:}
  h2:
    console:
      enabled: true
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

api:
  security:
    token:
      secret: ${JWT_SECRET:minha-chave-secreta-dev}